.logo {
    width: 200px;
    display: block;
    justify-self: center;
    margin: 20px;
}

.search-bar {
    background-color: white;
    width: 400px;
    display: block;
    justify-self: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}