.title {
    font: bold 40px arial;
}

.pickup,
.destination {
    display: block;
    margin: 5px 0px;
    padding: 10px;
    width: 500px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: none;
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
}

.request:hover {
    transition: 0.3s ease;
    background-color: rgb(240, 240, 240);
    color: black;

}

.schedule:hover {
    background-color: black;
    color: white;
}

.request {
    color: white;
    background-color: black
}

.schedule {
    background-color: rgb(240, 240, 240);
    color: black;
}