.video-container {
    display: inline-block;
    margin: 10px 0px 0px 5px;
}

.video-card {
    width: 310px;
}

.thumbnail {
    width: 300px;
}

.info-container {
    margin-top: 10px;
    display: inline-block;
}

.channel-profile-pic {
    margin: 0px 2px;
    display: inline-block;
    width: 35px;
    vertical-align: top;
}

.channel-profile {
    width: auto;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.video-title {
    margin-top: 0px;
    font: 700 14px 'Roboto', arial;
    line-height: 20px;
}

.channel-name,
.video-stats {
    font: normal 12px;
    color: rgb(96, 96, 96);
}

p {
    margin: 0px auto;
}