.video-card {
    width: 260px;
    height: 250px;
    display: inline-block;
}

.thumbnail {
    width: 250px;
    height: 140px;
    display: block;
}

.video-info {
    display: inline-block;
}

.channel-profile {
    display: inline-block;
    width: 48px;
    height: 100px;
    vertical-align: top;

}

.author-profile {
    margin-top: 8px;
    vertical-align: top;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

.video-title-info {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
}

.title {
    margin-top: 0px;
    width: 200px;
    font: bold 14px 'Roboto', arial;
    line-height: 20px;

}

.channel-name,
.video-stats {
    color: rgb(96, 96, 96);
    font: 500 12px 'Roboto', arial;

}