.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.video-card {
    width: auto;
}

.thumbnail {
    width: 100%;
}

.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 8px;
}

.title {
    margin-top: 8px;
}

.channel-name,
.video-stats {
    margin: 0px;
}