[class^="Video_"] {
    width: 300px;
}


.Video_title {
    font: bold 18px Arial;
    margin-bottom: 5px;
}

.Video_stats {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(96, 96, 96);
}

.Channel_name {
    font-size: 14px;
    margin-bottom: 18px;
    color: rgb(96, 96, 96);
}

.Video_decription {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 0;

}

.Apple_Banner {
    color: white;
    background-color: red;
    text-align: center;
    padding: 10px;
}

.Apple_Banner a {
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-decoration: none;