div {
    background-color: rgb(33, 33, 33);
}

.title {
    color: white;
    font-size: 24px;
    padding: 20px 20px 0px 20px;
}

.decription {
    color: rgb(160, 160, 160);
    padding-bottom: 20px;
    padding-left: 20px;
}