.e11a {
    display: grid;
    grid-template-columns: 200px 75px;
    margin-bottom: 10px;
}

.e11a1 {
    background-color: lightblue;
}

.e11a2 {
    background-color: lightcoral;
}


.e11b {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    background-color: lightcoral;
    margin-bottom: 10px;
}

.e11b1,
.e11b3 {
    background-color: lightblue;
}

.e11c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.e11c1 {
    background-color: lightcoral;
}